:root {
    --main-red: #ae1622;
    --main-blue: #3a6eae;
    --main-white: #e2e2e2;
    --main-black: #080201;
}

.code {
    color: var(--main-black);
    transition: color 0.3s ease-out;
}

div.entry-content {
  line-height: 0;
}

div.project-body {
  background-color: var(--main-black);
}

h2.project-title {
  color: var(--main-white);
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

h2.project-title:hover .code {
    color: #ff7750;
}

img.project-img-top:hover {
  filter: brightness(0.85);
}

a.btn-project {
  font-family: monospace;
  font-weight: bold;
}

a.btn-project:hover {
  background: var(--main-blue);
  color: var(--main-white) !important;
}
